body{
    margin: 0;
}

/* NAVBAR */

nav {
    display: flex;
    flex-direction: row;
    list-style:none;
    justify-content: space-between;
    border-bottom: 1px solid black;
    width: 100%;
    background-color: white
}

#links {
    display: flex;
    flex-direction: row;
}
#links li {
    margin: auto 60px;
    font-family: 'Didact Gothic', sans-serif;
}

#logo {
    margin-left: 20px;
    margin-top: 5px;
}

/* MAIN-SECTIONS */

section {
    margin: 0 auto;
}

#mission {
    margin: auto auto;
    width: 90%;
    font-size: 22px;
    font-family: 'Didact Gothic', sans-serif;
    border-bottom: 1px solid #cecece;
}

#mission h2 {
    margin: 20px 0px 10px 0px;
}

.article-element {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.article-text{
    text-align: justify;
    font-family: 'Didact Gothic', sans-serif;
}


#values{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Didact Gothic', sans-serif;
    text-justify: auto;
    flex-wrap: wrap;
}

#value-cases h2 {
    text-decoration: underline;
}
#value-cases{
    width: 300px;
    padding: 0 20px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A303B;
    height: 100px;
    color: white;
    font-family: 'Didact Gothic', sans-serif;
}